streamlit==1.39.0
tensorflow==2.16.2  # Specify the TensorFlow version available
keras==2.11.0  # Downgrade to Keras 2, as Keras 3 is not supported by transformers yet
tf-keras
torch  # Include PyTorch to ensure compatibility with Hugging Face
transformers==4.31.0  # Specify a version of transformers that works with Keras 2
